.main {
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 50px;
    margin: 25px 0;
}

.img {
    width: 180px;
}

.guessed_wrong {
    margin: 25px 0;
    font-size: 20px;
    font-weight: bold;
}

.guessed_word {
    letter-spacing: 20px;
    margin: -10px -26px 3px 0;
    font-size: 2rem;
}

.buttons {
    text-align: center;
    display: inline-block;
    width: 60vw;
    margin-bottom: 30px;
}

.letter-btn {
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    width: 40px;
    margin: 15px 3px 3px 0;
    letter-spacing: 1px;
    outline: none;
    background: #00bcd4;
    color: #fff;
    box-shadow: 0 6px #0097a7;
    border-radius: 5px;
    padding-top: 4px;
}

.letter-btn:disabled {
    background: #bdbdbd;
    color: #eeeeee;
    box-shadow: 0 6px #9e9e9e;
}

.restart-btn {
    letter-spacing: 1px;
    outline: none;
    background: #00bcd4;
    color: #fff;
    box-shadow: 0 6px #0097a7;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    width: 30vw;
    cursor: pointer;
    margin-bottom: 50px;
}

.gameover-text {
    color: crimson;
    font-size: 20px;
    font-weight: bold;
}

.win-text {
    color: green;
    font-size: 20px;
    font-weight: bold;
}